---
const personalImageAlt = "Leandro Angulo";
---

<article
    class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
    <div
        class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
    >
        <p>
            Apasionado por la tecnolog铆a y el desarrollo de software <strong
                >cuento con m谩s de cinco a帽os de experiencia</strong
            > en la creaci贸n de soluciones tanto en el front-end como en el back-end
            <strong> </strong>.
        </p>

        <p>
            Mi fuerte radica en el desarrollo de microservicios con <strong>Java Spring
            Boot</strong>, la gesti贸n de herramientas en la nube de <strong>AWS</strong> y la optimizaci贸n
            de procesos mediante la implementaci贸n de arquitecturas eficientes.
        </p>

        <p>
            Con habilidades en resoluci贸n de problemas, <strong>liderazgo</strong> y trabajo en
            equipo, disfruto enfrentar desaf铆os y <strong>aprender</strong> continuamente para
            mejorar mis capacidades. Siempre busco combinar tecnolog铆a y
            <strong>creatividad</strong> para transformar ideas en productos funcionales y
            escalables. 
        </p>
    </div>

    <img
        width="200"
        height="200"
        src="/Photo/photosobremi.webp"
        alt={personalImageAlt}
        class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
        style="object-position: 50% 50%"
    />
</article>
