---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
    {
        date: "Feberero 2023  - Actualmente ... ",
        title: "Desarrollador JAVA",
        company: "Seguros Alfa",
        description:
            "Formo parte de una célula de desarrollo enfocada en la construcción de microservicios en Java con Spring Boot, integrando la pasarela de pagos PayU y administrando servicios de Amazon AWS como Lambda, Step Functions, API Gateway, DynamoDB, CloudWatch y Glue DataBrew; además, como líder de desarrollo, doy soporte y evolución a la aplicación de cargue de pólizas Molita, responsable del tratamiento de datos y envío de información al CORE Acsel-e, garantizando calidad mediante documentación técnica, pruebas unitarias con JUnit, cumplimiento de cobertura con SonarQube, control de versiones con GitHub y gestión de despliegues a producción.",
    },
    {
        date: "Junio 2021 - Enero 2023",
        title: "Desarrollador de software",
        company: "Linexperts",
        description:
            "Inicié en el desarrollo web de una aplicación de registro de actividades utilizando HTML, CSS, JavaScript, ReactJS y Axios, y posteriormente asumí el desarrollo de microservicios en Java con Spring Boot, la gestión de bases de datos en PostgreSQL y el liderazgo integral de desarrollos backend y frontend; adicionalmente, supervisé actividades de aprendices SENA y participé en un proyecto de ofertas laborales y cargue de CVs con ReactJS, NodeJS y MongoDB, trabajando con GitHub para control de versiones y JIRA para seguimiento de tareas.",
    },
    {
        date: "Diciembre 2020 - Junio 2021",
        title: "Aprendiz SENA",
        company: "Linexperts",
        description:
            "Desarrollé funcionalidades en ReactJS según requerimientos definidos, participé en el análisis de requerimientos para la construcción de sistemas de información y apoyé el diseño de menús y flujos de navegación, priorizando la usabilidad y experiencia del usuario.",
    },
];
---

<ol class="relative mt-16">
    {
        EXPERIENCE.map((experience) => (
            <li class="mb-10">
                <ExperienceItem {...experience} />
            </li>
        ))
    }
</ol>
