---
import GitHub from "../icons/GitHub.astro";
import LinkedIn from "../icons/LinkedIn.astro";
import Mail from "../icons/Mail.astro";
import SocialPill from "../icons/SocialPill.astro";
import Badge from "./Badge.astro";
---

<div class="max-w-xl">
    <div class="flex gap-4 mb-4">
        <img
            class="rounded-full w-[132px] h-[132px] object-cover object-center mb-4"
            src="/Photo/photo 2JPGE.webp"
            alt="Leandro photo"
        />
        <a
            href="https://www.linkedin.com/in/leandro-angulo-florez-529508247/"
            target="_blank"
            rel="noopener"
            class="flex justify-center items-center"
        >
            <Badge>Disponible para trabajar</Badge>
        </a>
    </div>
    <h1
        class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
    >
        Hola, soy Leandro
    </h1>
    <p
        class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-[#c12c25] [&>strong]:text-[#c12c25] [&>strong]:font-semibold dark:text-gray-300"
    >
        +4 a침os de experiencia. <strong class="opacity-90">Desarrollador de Full Stack</strong> de Bogot치
        Colombia. Especializado en el desarrollo de aplicaciones web y m칩viles.
    </p>
    <nav class="flex flex-wrap gap-4 mt-8">
        <SocialPill
            href="https://www.linkedin.com/in/leandro-angulo-florez-529508247/"
        >
            <LinkedIn class="size-6 md:size-6 mr-2" />
            LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/leandroa11">
            <GitHub class="size-6 md:size-6 mr-2" />
            Git Hub
        </SocialPill>
        <SocialPill href="mailto:leandro123angulo@gmail.com">
            <Mail class="size-6 md:size-6 mr-2" />
            Cont치ctame
        </SocialPill>
    </nav>
</div>
