---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";

interface Props {
	title: string;
	description: string;
}

const { description } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Portafolio dev</title>
	</head>
	<body>
		<div class="relative h-full w-full bg-white">
			<div class="absolute h-full w-full bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] [background-size:16px_16px] [mask-image:radial-gradient(ellipse_50%_50%_at_50%_50%,#000_70%,transparent_100%)]">
			</div>
		</div>
		<Header />
		<slot />
		<Footer />
	</body>
</html>

<style>
	:root {
		color-scheme: light dark;
	}
	html {
		font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova",
			"Nimbus Sans", Arial, sans-serif;
		scroll-behavior: smooth;
	}
	body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 0;
		width: 100%;
		min-height: 100vh;
		animation: fadeIn 2s ease-in-out;
	}

	@keyframes fadeIn {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}

	@media (prefers-reduced-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}
</style>
